
<div class="container-fluid">

    <div class="row">

        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h3>Shortlist Candidate List</h3>
                    <div class="table-responsive">
                        <table id="InterviewListDataTable" class="table">
                            <thead>
                                <tr>
                                    <th> Shortlist  Id</th>
                                    <th> Candidate Name</th>
                                    <th>Pos Title</th>
                                    <th>Interview Status</th>

                                    <th>Interview Date</th>
                                    <th>Time</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>




<div class="modal fade" id="ShorListHistoryModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Interview History</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="ShorListDetailHistoryModal">

            </div>

        </div>
    </div>
</div>
<script>

</script>
