
<div class="container-fluid">

    <div class="row">

        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h3>Shortlist Candidate List</h3>
                    <div class="table-responsive">
                        <table id="InterviewListDataTable" class="table">
                            <thead>
                                <tr>
                                    @*<th></th>*@
                                    <th> Shortlist  Id</th>
                                    <th> Candidate Name</th>
                                    <th>Pos Title</th>
                                    <th>Interview Date</th>
                                    <th>Time</th>
                                    <th>Interview Status</th>
                                    <th class="text-center">Actions</th>


                                </tr>
                            </thead>



                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
 
<script>

</script>
