
<div class="container-fluid">

    <div class="row">

        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h3>Interview Evaluation List</h3>
                    <div class="table-responsive">
                        <table id="InterviewEvaluationDT" class="table">
                            <thead>
                                <tr>

                                    <th> EV Id</th>
                                    <th> ShorListId</th>
                                    <th class="text-center">Actions</th>
                                    <th> Candidate Name</th>
                                    <th>Pos Title</th>
                                    <th>Feedback Given By</th>
                                    <th>Status</th>
                                    <th>Overall Rating</th>
                                    <th>Feedback On</th>
                                    <th>Feedback Updated On</th>



                                </tr>
                            </thead>



                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<script>

</script>

