@{
    ViewBag.Title = "JobList";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h3>All Listed Jobs</h3>
                    <div class="table-responsive">
                        <table id="JobListDataTable" class="table">
                            <thead>
                                <tr>
                                    <th>Job Id</th>
                                    <th class="text-center">Actions</th>
                                    <th>Job Status</th>
                                    <th>Title</th>
                                    <th>Location</th>
                                    <th>Posted Date</th>
                                    <th>No Of Vacancy</th>
                                    <t h>Employment Type</th>
                                    <th>Salary Range</th>
                                    <th>No of Cnd.</th>
                                    <th>Division</th>
                                    <th>Category</th>
                                    <th>Department</th>
                                    <th>Designation</th>
                                </tr>
                            </thead>


                        </table> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>

