@using DAL.CustomModel
@model List<CvMain>

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">

    <div class="row">

        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h3>CV Bank</h3>
                    <div class="table-responsive">
                        <table id="CvCandidateList" class=" table ">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Action</th>
                                    <th> Candidate Name</th>
                                    <th>Father/Husband</th>
                                    <th>Department Name</th>
                                    <th>Designation Name</th>
                                    <th>Category Name</th>
                                    <th>Gender</th>
                                    <th>Marital Status</th>
                                    <th>CNIC</th>
                                    <th>CNIC Expire</th>
                                    <th>DOB</th>
                                    <th>Mobile</th>
                                    <th>Email</th>
                                    <th>Current Address</th>
                                    <th>LastUpdate Date</th>



                                </tr>
                            </thead>



                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>

</script>